<center><h3> Edit User: </h3></center>
<% if @landlord %>
    <%= form_tag user_path(@user), method: "put" do %>
        <label>First Name:</label><br>
        <%= text_field_tag :first_name, @landlord.first_name %><br>
        <br>
        <label>Last Name:</label><br>
        <%= text_field_tag :last_name, @landlord.last_name %><br>
        <br>
        <label>Age:</label><br>
        <%= text_field_tag :age, @landlord.age %><br>
        <br>
        <label>About:</label><br>
        <%= text_area_tag :about, @landlord.about %><br>

        <%= submit_tag "Submit Edit" %>
    <% end %>
    <p> Do you wish to <%= link_to "delete your account?", user_delete_path(@user), method: "delete" %></p>
    <p> Warning, once this is done, you will have to sign up again. </p>
<% else %>
    <% @tenant %>
    <%= form_tag user_path(@user), method: "put" do %>
        <label>First Name:</label><br>
        <%= text_field_tag :first_name, @tenant.first_name %><br>
        <br>
        <label>Last Name:</label><br>
        <%= text_field_tag :last_name, @tenant.last_name %><br>
        <br>
        <label>Age:</label><br>
        <%= text_field_tag :age, @tenant.age %><br>
        <br>
        <label>About:</label><br>
        <%= text_area_tag :about, @tenant.about %><br>

        <%= submit_tag "Submit Edit" %>
    <% end %>
    <p> Do you wish to <%= link_to "delete your account?", user_delete_path(@user), method: "delete" %></p>
    <p> Warning, once this is done, you will have to sign up again. </p>
<% end %>